@(nComments: java.lang.Integer, post: models.Post)
<div class="well well-lg" id="addcommentform">
    <h2 id="count">Comments <span class="badge">@nComments</span></h2>
    <form class="form-horizontal" role="form" id="addcommentfrm" action="@routes.CommentController.addComment(post.id)" method="POST">
        <div class="form-group">
            <textarea name="comment" rows="4" maxlength="500" class="form-control" required placeholder="Enter your comment here"></textarea>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-sm">Add comment</button>
        </div>
    </form>
</div>