@(nPosts: java.lang.Integer)
<div class="row" id="addpostform">
    <div class="col-sm-6 col-sm-offset-3">
        <div class="well well-lg">
            <h2 id="numposts">Posts<span class="badge">@nPosts</span></h2>
            <div class="well well-lg">
                <form class="form-horizontal" role="form" id="addpostfrm" action="@routes.PostController.addPost" method="POST">
                    <div class="form-group">
                        <textarea name="post" rows="4" maxlength="500" class="form-control" required placeholder="Enter your post here"></textarea>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-sm">Add post</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>