@(cs: java.util.List[models.Comment], nComments: java.lang.Integer, post: models.Post, pgf: helpers.PageFooter)

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href=@routes.Assets.versioned("stylesheets/comments.css")>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://malsup.github.com/jquery.form.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <title>Comments</title>
</head>
<body>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">SI2Chip</a>
            </div>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="@routes.PostController.getPosts"> Posts </a></li>
                <li class="active"> <a href="#"> Comments </a></li>
                <li><a href="@routes.HomeController.logout"><span class="glyphicon glyphicon-log-out"></span> Sign out </a></li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="well well-lg"><h2>Post</h2><h4><i>Posted by <span class="user">@post.userId</span> on @post.postedOn</i></h4><br>
                    <span>@post.post</span>
                    <br><br>
                </div>
                @addcommentform(nComments, post)
            </div>
        </div>
    </div>

    <div class="container" id="currentpagecontainer">
        @commentspage(cs,post.id,pgf)
    </div>
    <script type="text/javascript">
        function loadPage(url) {
            $("#currentpagecontainer").load(url, checkStatus);
        }

        function checkStatus(responseTxt, statusTxt, xhr){
            if(statusTxt == "error")
                $("#currentpagecontainer").html("<div class=\"row\"><div class=\"col-sm-6 col-sm-offset-3\"><div class=\"well well-lg\"><h2>An error while loading the page. Refresh the page</h2></div></div></div>");
        }
        $("#addcommentfrm")
        .ajaxForm({
        url : "@routes.CommentController.addComment(post.id)",
        dataType : "html",
        success : function (response) {
            var frm = document.getElementById("addcommentfrm");
            frm.reset();
            var pgnav = $($.parseHTML(response)).filter("#pgnav");
            var comments = $($.parseHTML(response)).filter("#comments");
            var count = $($.parseHTML(response)).filter("#count");
            var script = $($.parseHTML(response,true)).filter("script");
            $(".badge").remove();
            $("#count").append(count);
            $("#currentpagecontainer").html("");
            $("#currentpagecontainer").append(pgnav,comments,script);
            },
            error: function (data) {
            $("#currentpagecontainer").html("<div class=\"row\"><div class=\"col-sm-6 col-sm-offset-3\"><div class=\"well well-lg\"><h2>An error while adding the post. Try again.</h2></div></div></div>");
            }
        });
    </script>
</body>
</html>